{% extends 'base.html.twig' %}

{% block title %}Hallo Bezoeker!{% endblock %}

{% block body %}
<h1>Welkom op mijn tuin blog !</h1>

    <a href="/register" class="btn btn-lg btn-success">Registeren</a>
    <a href="/login" class="btn btn-lg btn-success">Login</a>
    <a href="/blog3" class="btn btn-lg btn-success">Blogs</a>


{% endblock %}
